.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-name ,.add-product-descriptiom{
    width: max(40%,280px);

} 
.add-product-name input ,.add-product-descriptiom textarea{
    padding: 10px;

}
.add-price{
    display: flex;
    gap: 30px;
    align-items: center;
}
.add-category select,.add--product-price input{
    max-width: 120px;
    padding: 10px;

}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;

}
